@import "./variable";

.HighLightCard{
    position: relative;
    width: 270px;
    height: 380px;
    display: flex;
    // gap: 3%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px rgb(45, 43, 43) solid;
    border-radius: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 1pc;
    // margin-right: 5%;
    margin-bottom: 3%;
    
    & h4{
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        color: $font_color;
        margin: 0;
        padding: 3%;
        background-color: $home_bg_color;
    }

    & button{
        width: 35%;
        height: 9%;
        background-color: $hover_font_color;
        position: absolute;
        bottom: 6%;
        border: none;
        font-size: 16px;
        border-radius: 20px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        
        &:hover{
            background-color: $font_color;
        }
        

        & a{
            text-decoration: none;
            color: $font_color;
            font-weight: 500;
            transition: all ease-in-out 0.3s;
        }
        &:hover > a{
            color: $hover_font_color;
        }
    }


    
}

.highlightcard__imgcontainer{
    width: 100%;
    height: 40%;
    & img{
        width: 100%;
        height: 100%;
        image-rendering: pixelated;
    }
}

.highlightcard_info{
    padding: 3%;
    padding-bottom: 1%;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
}