@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
.Profile {
  padding: 1rem 0;
  width: 100%;
  background-color: #30336b;
  position: relative;
}

.Profile .active {
  color: #e67e22;
}

.Profile__navbar {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Profile__navbar h1 {
  margin: 0;
  color: white;
  cursor: pointer;
}

@media (max-width: 765px) {
  .Profile__navbar h1 {
    margin: 0 auto;
  }
}

@media (max-width: 935px) {
  .Profile__navbar {
    padding: 0 1rem;
  }
}

.Profile__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Profile__menus li {
  font-size: 1.1rem;
  list-style-type: none;
  margin-left: 1.5rem;
  font-weight: 500;
  color: white;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

@media (max-width: 835px) {
  .Profile__menus li {
    margin-left: 1.1rem;
  }
}

.Profile__menus li:hover {
  cursor: pointer;
  color: #e67e22;
}

@media (max-width: 765px) {
  .Profile__menus {
    display: none;
  }
}

.Profile__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 5rem;
}

@media (max-width: 765px) {
  .Profile__home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.Profile__homeleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Profile__homeleft h2 {
  margin: 0;
}

@media (max-width: 760px) {
  .Profile__homeleft {
    width: 100%;
  }
}

.Profile__socialicon {
  color: white !important;
}

.Profile__socialicon .socialicon {
  margin: 0.4rem 0.5rem;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.Profile__socialicon .socialicon :hover {
  color: #e67e22;
}

.Profile__socialicon a {
  color: white !important;
}

.Profile__name {
  color: white;
  font-family: 'Arimo', sans-serif;
  margin: 1rem auto;
}

.Profile__name span {
  color: #e67e22;
}

.Profile__animatedtext {
  color: white !important;
  font-size: 2rem !important;
  margin: 0;
  margin-bottom: 1.2rem;
  width: 400px;
  text-align: center;
}

.Profile__animatedtext .Profile__typical {
  margin: 0 auto;
  margin-block: 0 !important;
}

@media (max-width: 475px) {
  .Profile__animatedtext {
    font-size: 1.8rem !important;
  }
}

.Profile__quote {
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  font-family: 'Arimo', sans-serif;
}

.Profile__quote p {
  margin: 0.5rem;
}

.Profile_buttons {
  margin-top: 2rem;
}

.Profile_buttons .contactme_button {
  background-color: transparent;
  padding: 0.8rem;
  outline: none;
  color: white;
  border-style: none;
  border: 2px white solid;
  border-radius: 30px;
  margin-right: 5rem;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  font-family: 'Arimo', sans-serif;
}

.Profile_buttons .contactme_button :active {
  border-style: none;
}

.Profile_buttons .contactme_button:hover {
  color: #30336b;
  background-color: white;
  cursor: pointer;
}

.Profile_buttons .getresume_button {
  padding: 0.8rem;
  outline: none;
  color: white;
  border-style: none;
  border-radius: 30px;
  background-color: #e67e22;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.Profile_buttons .getresume_button :active {
  border-style: none;
}

.Profile_buttons .getresume_button:hover {
  background-color: white;
  cursor: pointer;
}

.Profile_buttons .getresume_button:hover > a {
  color: #e67e22;
}

.Profile_buttons .getresume_button a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  font-family: 'Arimo', sans-serif;
}

.Profile__homeright {
  width: 350px;
  height: 350px;
  background: url("../images/no_bg_my_pic.png");
  background-color: #ecf0f1;
  background-size: cover;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .Profile__homeright {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 765px) {
  .Profile__homeright {
    width: 450px;
    height: 450px;
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .Profile__homeright {
    width: 375px;
    height: 375px;
  }
}

@media (max-width: 410px) {
  .Profile__homeright {
    width: 300px;
    height: 300px;
  }
}

.custom-shape-divider-bottom-1645486484 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645486484 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

@media (max-width: 750px) {
  .custom-shape-divider-bottom-1645486484 svg {
    height: 86px;
  }
}

@media (max-width: 550px) {
  .custom-shape-divider-bottom-1645486484 svg {
    height: 40px;
  }
}

.custom-shape-divider-bottom-1645486484 .shape-fill {
  fill: #ecf0f1;
}
/*# sourceMappingURL=Profile.css.map */